/* src/App.css */

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Растягивает контейнер на всю высоту экрана */
  width: 100%;
}

.main-content {
  flex: 1 0 auto; /* Позволяет контенту занимать всё свободное место, выталкивая футер вниз */
  padding: 40px 20px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.page-title {
  font-size: 24px;
  font-weight: 700;
  color: #111827;
  margin-bottom: 10px;
}

.page-description {
  margin-top: 10px;
  color: #4b5563;
  font-size: 16px;
}
